@import '../variables';

.game {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  // margin: 10px;
  .game__board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 500px;
    height: 500px;
    background-image: url("./board.svg");
    background-size: contain;
    border-radius: 5px;
    margin-top: 1rem;
    .game__field {
      display: flex;
      align-items: center;
      justify-items: center;
      justify-content: center;
      .sprite {
        width: 70%;
        height: 70%;
        // padding: 0.5rem;
        text-align: center;
        border: 0px;
        color: black;
        &:hover {
          cursor: grab;
        }
        &:focus {
          border: lightblue 2px;
          border-radius: 1rem;
        }
      }
    }
  }
  .game__board--skeleton {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 500px;
    height: 500px;
    // background-image: url("./board.svg");
    background-size: contain;
    border-radius: 5px;
  }
}