@import '../variables';

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.game {
  display: flex;
  flex-direction: column;
  // max-width: fit-content;
  flex: 3;
  &__container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  &__field {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }
  &__board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 500px;
    height: 500px;
    background-image: url("./board.svg");
    background-size: contain;
    border-radius: 5px;
    margin-top: 1rem;
  }
  &__board--skeleton {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 500px;
    height: 500px;
    // background-image: url("./board.svg");
    background-size: contain;
    border-radius: 5px;
  }
}

.sprite {
  width: 70%;
  height: 70%;
  // padding: 0.5rem;
  text-align: center;
  border: 0px;
  color: black;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    border: lightblue 2px;
    border-radius: 1rem;
  }
}

.game-info {
  @include coolBoxShadow($bg-grey-darker-2);
  background-color: $bg-grey-darker-1;
  border-radius: 0.4rem;
  margin-top: 1rem;
  flex:1;
  padding: 1rem;
}