@import '../variables';

.chat-view {
    min-height: 15rem;
    display: flex;
    flex-direction: column;
    width: fill;
    flex: 1;
    position: sticky;
    top: 16px;
    gap: 1rem;
    &__container {
        @include coolBoxShadow($bg-grey-darker-2);
        width: fit-content;
        height: 500px;
        width: 100%;
        background-color: $bg-grey-darker-1;
        border-radius: 0.4rem;
    }
}