@import '../variables';

$lower-icon-dimension: 1.3rem;

.sidebar {
  width: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // padding: 0.6rem;
  height: 100%;
  position: fixed;
  background-color: $bg-grey-darker-1;
  &__upper {
    display: flex;
    flex-direction: column;
  }
  &__auth {
    display: flex;
    position: relative;
    flex-direction: column;
    align-self: center;
    width: 100%;
    gap: 1rem;
    margin-top: 2rem;
    justify-items: center;
    &__wrapper {
      width: 100%;
    }
    &--logged-in {
      justify-content: flex-start;
      align-self: flex-start;
      gap: 0;
    }
    &__logout {
      font-style: none;
      text-decoration: none;
      color: grey;
      font-weight: bolder;
      display: flex;
      align-items: center;
      &:hover {
        filter: brightness(110%);
        cursor:pointer;
      }
    }
  }
  &__icon-wrapper {
    padding-inline: calc(2rem - $lower-icon-dimension);
    display: flex;
    align-content: center;
  }
  &__links {
    display: flex;
    flex-direction: column;
  }
  &__link {
    font-style: none;
    display: flex;
    color: $font-color;
    text-decoration: none;
    font-weight: bolder;
    font-size: 1rem;
    align-items: center;
    align-content: center;
    gap: 0.5rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    &:hover {
      background-color: $bg-grey-darker-2;
      cursor: pointer;
      color:white;
    }
    svg {
      width: 2rem;
      height: 2rem;
    }
    &--lower {
      color: grey;
      font-size: 0.9rem;
      padding: 0.3rem;
      svg {
        max-width: $lower-icon-dimension;
        max-height: $lower-icon-dimension;
      }
    }
    // &--folded {
    //   justify-content: center;
    // }
  }
  &__lower {
    margin-bottom: 1rem;
  }
  &--folded {
    width: 3rem;
  }
}

.logo {
  font-weight: 1000;
  font-size: 1.2rem;
  padding: 0.5rem 0.5rem 0.5rem 1.1rem;
  // text-align: center;
}

.fold-button {
  @media(max-width: 1000px) {
    display: none;
  }
}